body {
    margin: 0;
    padding: 0;
    
}

*{
    font-family: 'Poiret One', sans-serif;

}

.navbar {
    position: fixed;
    height: 100px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
}

.nav-list {
    list-style: none;
    margin: 0 100px;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin: 0 30px;
}

.nav-list a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 20px;
}

.nav-list a:hover {
    color: rgb(56, 56, 101);
    text-decoration: underline;
    text-underline-offset: 2px;
}
.parallex_image{
    background-image: url("images/Landscape-Color.jpg");
    min-height: 300px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.intro_text {
    background-color: #313131;
    color: rgb(236, 236, 236);
    margin: auto;
    width: 60%;
    height: 90%;
    padding: 30px;
}

.intro_text p, .intro_text strong {
    padding: 30px;
}

.intro_text span {
    font-weight: 300;
    font-size: 20px;
}
